* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  background-color: #2a9d8f;
}

.header {
  height: 170px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.137);
}

.navigation-wrapper {
  height: 30%;
  background-color: #264653;
}

.navigation {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-shadow: inset 0px -2px 20px rgba(0, 0, 0, 0.25);

  &__link {
    width: 130px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    padding: 0px 20px;
    font-size: 24px;
    color: #e9c46a;
    text-decoration: none;

    &::before {
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: -4px;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
      border-radius: 4px;
      background-color: #ffffff;
    }

    &:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
  }
}

.title {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 15px;
  color: whitesmoke;
  background-color: #e76f51;
}

.content-wrapper {
  min-height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 40px 0px 40px;
}

.card {
  width: 400px;
  height: 480px;
  margin: 50px 50px 80px 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  &__top {
    height: 35%;
    border-radius: 7px 7px 0px 0px;
    background-color: rgba(244, 162, 97, 0.75);
  }

  &__bottom {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 32px;
    border-radius: 0px 0px 7px 7px;
    background-color: rgba(255, 255, 255, 0.92);
  }

  &__title {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
  }

  &__content {
    margin: 17px 0px;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    text-align: justify;
    overflow: hidden;
  }

  &__button {
    width: 140px;
    height: 40px;
    align-self: center;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(231, 142, 69, 0.281);
    background-color: rgba(231, 142, 69, 0.445);
    font-size: 14px;
    letter-spacing: 3px;
    transition: all 180ms ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.04) perspective(10px);
    }
  }
}

.footer {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
  background-color: #264653;

  &__column {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 0px;
  }

  &__links-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px;
    list-style: none;
  }

  &__link {
    position: relative;
    font-size: 16px;
    text-decoration: none;
    color: rgba(245, 245, 245, 0.445);

    &::before {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: -4px;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
      border-radius: 4px;
      background-color: rgba(245, 245, 245, 0.445);
    }

    &:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
  }

  &__separator {
    width: 1px;
    height: 65%;
    border-right: 1px solid;
    border-color: rgba(245, 245, 245, 0.445);
  }
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: 58px;
    font-weight: 300;
    letter-spacing: 25px;
  }
}

@media screen and (min-width: 2080px) {
  .card {
    width: 600px;
    height: 680px;

    &__bottom {
      padding: 20px 40px;
    }

    &__title {
      font-size: 50px;
      font-weight: 500;
      letter-spacing: 1px;
    }

    &__content {
      font-size: 28px;
      line-height: 37px;
    }

    &__button {
      width: 190px;
      height: 60px;
      border-radius: 50px;
      border-width: 3px;
      font-size: 20px;
    }
  }
}
